.day-container {
  width: 330px;
  border-radius: 2%;
  overflow: hidden;
}

.day-header {
  text-align: end;
  font-size: larger;
  padding: 0.2rem;
  padding-right: 10px;
  background: rgb(218, 131, 245);
  font-weight: 600;
  height: 3rem;
  line-height: 3rem;
  color: white;
}

.initials-box-container {
  display: flex;
  flex-wrap: wrap;
  height: 330px;
  width: 330px;
}
